@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0B0C15] text-slate-200 antialiased selection:bg-[#00F0FF] selection:text-[#0B0C15];
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-[#0B0C15];
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700;
}

/* Custom Range Slider Styling */
input[type=range] {
  @apply h-1.5 bg-slate-800 rounded-lg appearance-none cursor-pointer;
}

input[type=range]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 bg-[#00F0FF] rounded-full border-0 transition-transform hover:scale-125;
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.15);
}